/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
nav .button-collapse{
    float:right;
}
nav .button-back {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
}
nav .button-back i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 64px;
}
.side-bar-add-a{
    right:0px !important;
    left:inherit !important;
}
.wrap-content-a{
    right:240px;
    position:relative;
}
.add-tab{
    background-color: #333366 !important;
}
.add-tab a {
    color: #9999cc !important;
}
.add-tab a:hover,.add-tab .active {
    color: #fff !important;
}
.tabs .indicator{
    background-color: #6666cc;
    height: 3px;
}
.page1{
    background-color:#990000;
}
@media only screen and (min-width : 993px) {
    nav a.button-collapse-as {
        display: none; } }
nav .button-collapse-as {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px; }
nav .button-collapse-as i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px; }

@media only screen and (min-width : 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse-as, nav a.button-collapse-as i {
        height: 64px;
        line-height: 64px; }
}
.intabs{
    padding:20px;
}
.light-blue.lighten-1{
    background-color:#5858aa !important;
}
.intabs >td, .intabs >th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 0px;
    bolder:1px solid #ccc;
}
.intabs tr th{
    background-color:#ff6666;
    color:#fff;
}
.form-datetime{
    padding:20px 0px 20px 0px;	
}
.h3-title{
    font-size:20px;
    font-weight:400;
    color:#333333;
}
.wifi-title{
    text-align:center;
}

.wifi-title i{
    font-size:9.6rem;
    color:#f57f17;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
}

@-moz-keyframes myfirst /* Firefox */{
    0%   {color:#f9a825;}
    50%  {color:#ffea00;}
    100%   {color:#f9a825;}
}

@-webkit-keyframes myfirst /* Firefox */{
    0%   {color:#f9a825;}
    50%  {color:#ffea00;}
    100%   {color:#f9a825;}
}
.card-title{
    color:#fff !important;
    float:left;
    width:100%;
    background-color:#ff6666;
    padding:6px 0px 6px 0px;
    text-transform: uppercase;
    font-weight:bold !important;
    font-size:1.1rem !important;
}
.card-title-add{
    color:#fff !important;
    float:left;
    width:100%;
    background-color:#ff6666;
    padding:6px 0px 6px 20px;
    text-transform: uppercase;
    font-weight:bold !important;
    font-size:1.3rem !important;
}
.pag-title{
    font-size:5rem;
    font-weight:bold;
}
.price-title{
    color:#8e8e8e;
    padding: 10px;
}
body{
    background-color:#eeeeee;
}
.slectsss{
    width:60px;
    float:left;
    height:36px;
}
.slectsss-year{
    width:68px;
    float:left;
    height:36px;
}
.slectsss-month{
    width:75px;
    float:left;
    height:36px;
}
.slectsss-day{
    width:50px;
    float:left;
    height:36px;
}
.tim-kiem{
    margin-left:2px;
    /*margin-left:22px;*/
}
.top-search{
    margin-bottom:20px;
}
.mood-title i{
    font-size:7rem;
    color:orange;
}
.m-p-ti{
    font-size:3rem;
    color:#ff6666;
    font-weight:bold;
    padding:0px;
    margin:0px;
}
.small-date{
    background-color:#fff;
    padding:1px 5px 1px 5px;
    float:right;
    color:#ff6666;
    margin-right:1rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size:1.2rem;
}
.pag-title-add{
    font-size:2rem;
    font-weight:bold;
}

.tabsx {
    position: relative;
    height: 48px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap; }
.tabsx .tabx {
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 25%; }
.tabsx .tabx a {
    color: #ee6e73;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color .28s ease;
    -moz-transition: color .28s ease;
    -o-transition: color .28s ease;
    -ms-transition: color .28s ease;
    transition: color .28s ease; }
.tabsx .tabx a:hover {
    color: #f9c9cb; }
.tabsx .tabx.disabled a {
    color: #f9c9cb;
    cursor: default; }
.tabsx .indicatorx {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right; }

.tabsx .tabx {
    padding: 0; }

small {
    font-size: 70%;
}