@media (max-width: 390px) {
    .footer-menu ul li {margin-top: -1px !important;}
    .footer-menu ul li a span{display: none;}
    .previous-page{display: block;}
    .top-info-tour {bottom: 20px;}
    .tour-info-tbl{width: 100%}
    .search-location-form input[type=text]{font-size: 15px;}
    .login-intro {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .row .sidebar.sidebar-right.sidebar-sm-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (max-width: 768px) {
    a.thumbnail img{
        width: 100%;
    }

}

@media (max-width: 360px) {
    .top-link,.top-info,.top-info-tour{padding-left: 15px;padding-right: 15px;}
    .top-restaurant-distance{margin-top: 0;}
    .celsius{
        font-size: 25px !important;line-height: 40px;
    }
    .weather-detail img{height: 18px;margin-right: 10px;margin-top: 6px;}
    .weather-desc {font-size: 15px;}
    .top-restaurant-name{font-size: 20px !important;}
    span.count-view{display: block;margin-top: 10px;}
    .page-title{font-size: 18px}
    .navbar-form.search-location-form{
        margin-top: 0px !important
    }
    .top-tour-name{font-size: 19px;line-height: 30px;}
    a.contact-button{margin-right: 0;margin-left: 5px;}
    .search-event form input[type=text]{font-size: 15px;}

}

@media (max-width: 470px) {

    .banner-login img{width: 150px;}
    .top-info.{top: 60px;}

    span.count-view{display: block;margin-top: 10px;}
}

@media (max-width: 414px) {
    .bank-address-text{
        padding-left: 107px;
        background-position: 90px 0;
        font-size: 12px;
        margin-bottom: 0;
        min-height: 51px;
    }
    .bank-thumbnail{height: unset;}
    .bank-thumbnail a.bank-banner-link{
        width: 90px;
    }
    .bank-contact {
        font-size: 11px;
        /*        padding-left: 40px;*/
        top:95px;
        background-position: 15px 0px;
        background-size: 18px 17px;
    }
    .bank-contact a{font-size: 11px;}
    .bank-contact i{margin-right: 4px;font-size: 13px;}
    .bank-thumbnail a img {
        width: 90px;
        height: 45px;
    }
    .bank-thumbnail a.bank-banner-link {height: 70px}
    .bank-name{font-size: 14px !important;}
}

@media (min-width: 992px) {
    .row .sidebar.sidebar-right.sidebar-md-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
    }

    .col-md-20{
        float: left;
        width: 20%;
    }
}

@media (min-width: 1170px) {
    .row .sidebar.sidebar-right.sidebar-lg-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 480px) {
    .region-distance{width:120px}
}
@media (max-width: 480px) {
    p.footer-text{font-size: 17px;}
    .footer-menu ul li a img{height: 27.5px;}
    .search-intro .intro-text,.post-date{font-size: 15px;}
    .search-intro {
        line-height: 48px;
        height: 48px;
        width: 220px;
    }
    .search-intro .intro-icon {
        width: 25px;
        margin-bottom: 5px;
    }
    input[type=text], input[type=password] {height: 42px;}
    .btn.btn-default.search-btn.cus-btn{height: 42px;}
    .btn.btn-default.search-btn.cus-btn i{font-size: 25px;}
    .span.num-rate{font-size: 17px}
    .search-location{bottom: 20px;}
    .booking-btn-box{text-align: center;padding-right: 15px;}
    a.btn-checkout,a.btn-call-tour{float: none;display: block;width: 210px;margin: 0 auto;text-align: center;}
    .detail-tour-price-desc{margin-bottom: 10px;}
    .search-form h2{font-size:26px;}
    .search-btn{width: 60px;}
    ul.vehicle-list li,ul.vehicle-list li a,ul.vehicle-list li h3{height: 65px;padding-top: 0;}
    ul.recently-location-list li,ul.recently-location-list li a{height: 65px;}
    ul.recently-fixed-list{height: 130px;}
    ul.vehicle-list li h3{font-size: 21px;line-height: 65px;}
    .vehicle-icon{width: 35px;height: 30px;margin-top: 19px;}
    ul.recently-location-list li a h3{font-size: 21px;}
    .celsius{font-size: 30px;}
    .top-restaurant-name {font-size: 27px;}
    .top-restaurant-distance{
        clear: both;
        float: right;
        height: 32px;
        line-height: 32px;
        background-position: 0 0;
        background-size: 24px 24px;
        font-size: 17px;
        width: 96px;
        padding-left: 30px;
    }
    .region-distance{clear: none !important;width:111px}

    .res-contact-detail{font-size: 17px;}
    .weather-desc{font-size: 14px}
    .top-restaurant-stats span.count-view{line-height: 30px;font-size: 17px;}
    h2.top-tour-name{font-size: 19px;}
    .section-title-nobg,.section-title{font-size: 20px;}
    i.contact-icon{margin-left: 6px;}
    .top-restaurant-stats{margin-top: 7px;}
    .cat-list li a h3{font-size: 17px;}
    .emegency-thumbnail a img{width: 20px !important;height: 20px !important;margin-top: 10px;}
    .taxi-desc{font-size: 13px;}
    .taxi-thumbnail a img{width: 45px !important;height: 45px !important;margin-top: 10px;}
    .call-taxi-btn{font-size: 14px;}
    .caption h3{font-size: 15px !important;}
    .emegency-thumbnail a img{width: 20px;height: 20px;margin-top: 10px;}
    .taxi-desc{font-size: 13px;}
    .taxi-thumbnail a img{width: 45px;height: 45px;margin-top: 10px;}
    .call-taxi-btn{font-size: 14px;}
    .caption h3{font-size: 17px !important;}
    .caption h3.bank-name{font-size: 15px !important;}
}
@media (max-width: 414px) {
    .option-display-restaurant .col-xs-4{margin-bottom: 10px}
    .option-display-restaurant .col-xs-4:last-child{margin-bottom: 0}
    .top-restaurant-name {font-size: 25px;}
    .contact-button, .about-button {
        border-radius: 15px;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        margin-top: 6px;
    }
    i.contact-icon{
        width: 26px;
        height: 26px;
        background-size: 22px 22px;
        margin-top: 4px;margin-right: 0;
    }
}
@media screen and (max-width: 555px) and (min-width: 481px){
    .search-intro .intro-text{font-size: 18px;}
    .tour-info-box,.contact-tour-box{float: left;}
}

@media screen and (max-width: 768px) and (min-width: 480px){
    .search-intro .intro-text{font-size: 18px;}
}

@media screen and (max-width: 480px) and (min-width: 394px){
    .utilities-list li span{font-size: 15px;}
}

@media screen and (max-width: 394px) and (min-width: 340px){
    .utilities-list li span{font-size: 13px;}
}

@media (max-width: 555px){
    .top-link{
        padding-top: 10px;
    }
    .push-menu li a{background-size:24px 24px;}
    .push-menu a.pmenu-dia-diem{background-size: 20px 30px;}
    .push-menu a.pmenu-wifi{background-size:24px 20px;}
    .top-info{padding-top:10px}
    .top-restaurant-info{margin-top: 0;}
    .push-menu li a {padding-left: 50px;background-position: 15px 9px;}
}
@media (min-width: 360px){
    .emg-name{width: 125px;}
}
@media (max-width: 340px){
    .tien-ich{width: 20px;height: 20px;}
    .footer-menu ul li a img{height: 25px;}
    /*.banner-img{margin-top: 85px;}*/
    h3.section-title{font-size: 20px;}
    ul.recently-location-list li a h3{font-size: 17px;}
    p.recently-location-detail {font-size: 16px;}
    .slide-text h3 {font-size: 18px}
    .tour-price,.slide-detail{font-size: 16px;}
    .sticky{font-size: 15px;}
    .num-rate{font-size: 18px !important;}

    input.css-checkbox[type="checkbox"] + label.checkbox-label {font-size: 15px;}
    input.css-checkbox[type="radio"] + label.css-label {font-size: 15px;}
    .option-display-restaurant .col-xs-4 {
        padding-left: 0;padding-right: 0;
    }
    
    .utilities-list li span {font-size: 11px;}
    .cat-list li a h3{font-size: 17px;padding-left: 42px;}

    .icon-gray-location{background-size: 20px 30px}
    .icon-gray-hotel{background-size: 25px 24px}
    .icon-gray-restaurant{background-size: 25px 24px}

    .event-thumbnail a img, .food-thumbnail a img {
        width: 75px;
        height: 75px;
    }
    .caption h3{font-size: 17px !important;}
    .handbook li{height: 100px !important;}
    .handbook li .event-thumbnail{height: 100px !important;}
    .push-menu li a {
        background-size: 20px 20px;
        padding-left: 44px;
    }
    .push-menu a.pmenu-dia-diem{background-size: 18px 26px;}
    .push-menu a.pmenu-wifi{background-size:20px 18px;}
    span.count-post{
        font-size: 16px;
        margin-top: -1px;
    }
}

@media (width : 320px){
    .restaurant-item .slide-img img {
        height: 155px !important;
        width: 290px !important;
    }
}

@media (width : 360px){
    .banner-img{height: 245px;}
    .search-location-form {margin-top: 10px;}
    .restaurant-item .slide-img img {
        height: 177px !important;
        width: 330px !important;
    }
}

@media (width : 375px){
    .restaurant-item .slide-img img {
        height: 185px !important;
        width: 345px !important;
    }
}

@media (width : 384px){
    .restaurant-item .slide-img img {
        height: 190px !important;
        width: 354px !important;
    }

}

@media (width : 412px){
    .restaurant-item .slide-img img {
        height: 205px !important;
        width: 382px !important;
    }
}

@media (width : 414px){
    .restaurant-item .slide-img img {
        height: 206px !important;
        width: 384px !important;
    }
}


@media (width : 600px){
    .restaurant-item .slide-img img {
        height: 305px !important;
        width: 570px !important;
    }
    .banner-menu{height: 260px;}
    .banner-menu-province {font-size: 32px;}
    .banner-menu-celsius{font-size: 22px;}
}

@media (width : 768px){
    .restaurant-item .slide-img img {
        height: 190px !important;
        width: 354px !important;
    }
}

/*xoay ngang*/
@media (width : 480px){
    .restaurant-item .slide-img img {
        height: 241px !important;
        width: 450px !important;
    }
}

@media (width : 568px){
    .restaurant-item .slide-img img {
        height: 288px !important;
        width: 538px !important;
    }
    div.swiper-slide {
        width: 260px;
    }
}

@media (width : 640px){
    .restaurant-item .slide-img img {
        height: 327px !important;
        width: 610px !important;
    }
}

@media (width : 667px){
    .restaurant-item .slide-img img {
        height: 341px !important;
        width: 637px !important;
    }
}

@media (width : 736px){
    .restaurant-item .slide-img img {
        height: 378px !important;
        width: 706px !important;
    }
}

@media (width : 1024px){
    .restaurant-item .slide-img img {
        height: 167px !important;
        width: 311px !important;
    }
}
